<!-- 1) Configuration -->
<script>
  window._smartsupp = window._smartsupp || {};
  _smartsupp.key = "a45ed788fe4e86449313fbb11dcb6dba5de811be";
  _smartsupp.privacyNoticeEnabled = true;
  _smartsupp.privacyNoticeUrl = "https://options-trades.onrender.com/privacy";
  _smartsupp.privacyNoticeCheckRequired = true;
  window.addEventListener("CookiebotOnAccept", function () {
    smartsupp("analyticsConsent", Cookiebot.consent.statistics);
    smartsupp("marketingConsent", Cookiebot.consent.marketing);
  });
  window.addEventListener("CookiebotOnDecline", function () {
    smartsupp("analyticsConsent", false);
    smartsupp("marketingConsent", false);
  });
</script>

<!-- 2) Loader -->
<script
  async
  charset="utf-8"
  src="https://www.smartsuppchat.com/loader.js"
></script>
