{% extends 'user/_base.html' %}
{% load static %}

{% block content %}
<!-- Start::app-content -->
<div class="main-content app-content">
    <div class="container">

        <!-- Page Header -->
        <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
            <h1 class="page-title fw-semibold fs-18 mb-0">Manage Password</h1>
            <div class="ms-md-1 ms-0">
                <nav>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'user:dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Password</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Page Header Close -->

        <!-- Start::row-1 -->
        <div class="row mb-5">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header d-sm-flex d-block">
                        {% include './_profile_tabs.html' %}
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <form action="" method="post" class="tab-pane show active" id="personal-info"
                                role="tabpanel">
                                <div class="p-sm-3 p-0">
                                    <h6 class="fw-semibold mb-3">
                                        Manage Password :
                                    </h6>
                                    <div class="row gy-4 mb-4">
                                        <div class="col-xl-12">
                                            <label for="first-name" class="form-label">Existing Password</label>
                                            <input type="password" class="form-control" id="first-name" name="opassword"
                                                placeholder="Existing password" required>
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="last-name" class="form-label">New password</label>
                                            <input type="password" class="form-control" id="last-name" name="password"
                                                placeholder="New password" required>
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="cpassword" class="form-label">Confirm password</label>
                                            <input type="password" class="form-control" id="cpassword" name="cpassword"
                                                placeholder="Confirm password" required>
                                        </div>

                                    </div>
                                    <div class="card-footer">
                                        <div class="float-end">
                                            <button name="submit" class="btn btn-primary m-1">
                                                Update Password
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End::row-1 -->

    </div>
</div>
{% endblock content %}